body {
  margin: 0;
}
#btn{
    
    letter-spacing:5px;
    outline :none;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
    width:200px;
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    right: 20px;
    
  }
  #btn:after{
    content: ' ';
    height:100%;
    width: 100%;
    background: greenyellow;
    position: absolute;
    top: 6px;
    left: 6px;
    transition: 0.2s;
    z-index: -1;
    border-radius: 10px;
  }
  #btn:hover:after{
    
    top: 0px;
    left: 0px;
  }
.game-canvas {
  width: 100%;
  height: 100vw;
  max-width: 500px;
  max-height:500px;
  margin-left: auto;
  margin-right: auto;
}

.keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  margin: auto;
}

.up {
  position: relative;
  top: -4px;
}

.chevron::before {
  border-style: solid;
  border-width: 8px 8px 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  top: -10px;
  position: relative;
  transform: rotate(-45deg);
}

.chevron.down::before {
  transform: rotate(135deg);
  top: -22px;
}

.chevron.right::before {
  transform: rotate(45deg);
  top: -18px;
  left: -5px;
}

.chevron.left::before {
  transform: rotate(225deg);
  top: -18px;
  left: 5px;
}

.arr {
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 100px;
  background: gray;
  color: white;
  font-size: 50px;
  border-right: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid #ddd;
  border-top: 10px solid #eee;
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  user-select: none;
}

.arr:active {
  background: #555;
}

#game-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.6);
}
